body {
    background-color: #74b808;
    color: #FFFFFF;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
